<div class="fluids">
<script type="text/javascript" src="http://www.gourmetfood.org/cooking-conversions/liquid.calc.widget.js"></script>
<p><label for="gfc-quantity">Quantity: </label><input type="text" name="gfc-quantity" id="gfc-quantity" value="" /></p>
<p><select id="gfc-from">
    <option>Milliliters</option>
    <option>Deciliter</option>
    <option>Teaspoon</option>
    <option>Tablespoon</option>
    <option>Fluid Ounce</option>
    <option>Cups</option>
    <option>Pint</option>
    <option>Quarts</option>
    <option>Liters</option>
    <option>Gallons</option></select> to
  <select id="gfc-to"><option>Milliliters</option>
    <option>Deciliter</option>
    <option>Teaspoon</option>
    <option>Tablespoon</option>
    <option>Fluid Ounce</option>
    <option>Cups</option>
    <option>Pint</option>
    <option>Quarts</option>
    <option>Liters</option>
    <option>Gallons</option></select> </p>
<p><label for="gfc-result">Result: </label><input type="text" name="gfc-result" id="gfc-result" value="" /></p>
<p><input type="button" onclick="gfc_convert();" value="Convert" id="convert"/></p><font size="1"></font>
</div>
