<div class="col-sm-offset-5">
  <div class="weights">
  <script type="text/javascript" src="http://www.gourmetfood.org/cooking-conversions/weigth.calc.widget.js"></script>
  <h3>Weight</h3>
  <p><label for="gfc-grams">Grams: </label><input type="text" name="gfc-grams" id="gfc-grams" value="" onchange="gfc_convert_weigth(this);" /></p>
  <p><label for="gfc-ounces">Ounces: </label><input type="text" name="gfc-ounces" id="gfc-ounces" value="" onchange="gfc_convert_weigth(this);" /></p>
  <p><input id="convert" type="button" value="Convert"/></p><font size="1"></font>
  </div>
</div>
