<div class="main-searchbar" id="bloodhound">
<%= form_tag recipes_path, method: :get, id: "search-form" do %>
<span class="input-group input-group-lg form-inline">
  <span class="input-group-addon glyphicon glyphicon-search"></span>
    <%= text_field_tag :search, params[:search], placeholder: 'Find a recipe...', class: 'typeahead form-control'%>
<% end %>
</div>

<div class="converter"><script type="text/javascript" id="WolframAlphaScriptb197ffdef2ddc3308584dce7afa3661b" src="//www.wolframalpha.com/widget/widget.jsp?id=b197ffdef2ddc3308584dce7afa3661b&theme=teal&output=iframeOpenExpand&width=300&height=160"></script></div>
<div class="terms_div"></div>
<div class="meat_div"></div>
<div class="recipe_div"></div>
