
<span class="input-group input-group-lg">
  <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon1"></span>
<%= form_tag(recipes_path, class: "form-inline", method: :get, id: "search-form") do %>
    <%= input :search, params[:search], placeholder: 'Find a recipe...', class: 'form-control'%>
  <% end %>
</span>



<div class="common-terms">
  <% @procedures.each do |p| %>
  <%= button_to p.term, procedure_path(p), method: :get, class: "col-xs-3 btn-default btn-lg" %>
  <% end %>
</div>
