<div class="search col-xs-12">
  <%= form_tag(recipes_path, class: "form-inline", method: :get, id: "search-form") do %>
    <i class="glyphicon glyphicon-search"></i>
    <%= text_field_tag :search, params[:search], placeholder: 'Find a recipe...', class: 'form-control'%>
    <%= submit_tag "Search" %>
  <% end %>
</div>



<div class="common-terms">
  <% @procedures.each do |p| %>
  <%= button_to p.term,
      "#", method: :get, class: "col-xs-3 btn-default btn-lg" %>
  <% end %>
</div>