<div class="search col-xs-12">
  <%= form_tag recipes_search_path, class: "form-inline", method: :get do %>
    <i class="glyphicon glyphicon-search"></i>
    <%= text_field_tag :query, params[:query], placeholder: 'Find a recipe...', class: 'form-control'%>
  <% end %>
</div>

<div class="common-terms">
  <% @procedures.each do |p| %>
  <%= button_to p.term,
      "#", method: :get, class: "col-xs-3 btn-default btn-lg" %>
  <% end %>

  </div>

</div>
