<div class="search col-xs-12">
<%= form_tag recipes_search_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :name, params[:name], placeholder: 'Find a recipe...'  %>

    <%= submit_tag "Search", :name => nil, class: "btn btn-success"%>
  </p>
  <% end %>
</div>


<div class="common-terms">
  <% @procedures.each do |p| %>
    <div class='col-xs-3 btn-default btn-lg'><%= link_to p.term, procedure_path %></div>
  <% end %>
</div>