<div class="main-searchbar" id="bloodhound">
<%= form_tag recipes_path, method: :get, id: "search-form" do %>
<span class="input-group input-group-lg form-inline">
  <span class="input-group-addon glyphicon glyphicon-search"></span>
    <%= text_field_tag :search, params[:search], placeholder: 'Find a recipe...', class: 'typeahead form-control'%>
<% end %>
</div>

<div class="converter"><script type="text/javascript" id="WolframAlphaScript3fd3b91f7636e675cb61b05dbd2f7de5" src="//www.wolframalpha.com/widget/widget.jsp?id=3fd3b91f7636e675cb61b05dbd2f7de5&theme=teal&output=lightbox"></script></div>
<div class="terms_div"></div>
<div class="meat_div"></div>
<div class="recipe_div"></div>
