

<h6>Servings: <%= form_tag "#", :id => "converter" do %>
  <%= select_tag "recipe", "<option>#{@recipe.servings*0.5}</option><option selected>#{@recipe.servings}</option><option>#{@recipe.servings*2}</option><option>#{@recipe.servings*4}</option>".html_safe %>
<% end %></h6>
<h6>Prep Time: <%= recipe.prep_time %></h6>
<% recipe.ingredients.each do |i| %>
  <li><%= recipe_converter(highlight_ingredients(i.item, recipe.recipe_procedures),@servings_multiplier).html_safe %></li>

<% end %>
