<% recipe.procedures.uniq.each do |p| %>
  <div id="<%= p.term.downcase %>" class="recipe-procedure">
    <div id="highlighted"><%=p.term.upcase %>
    </div>
      <iframe src="<%= p.youtube_url %>"></iframe>
    <div class="side-bar"><%= p.instructions %></div>
  </div>
<% end %>
