<div class="drop-down">
  <% if recipes %>
    <% recipes.each do |r| %>
    <div class="col-sm-12 btn-lg" id="<%= r.name.squish.downcase.tr(" ","_") %>">
      <%= link_to r.name, recipe_path(r) %>
    </div>
    <% end %>
  <% else %>
    <p>There are no recipes containing the terms(s) search </p>
  <% end %>
</div>