<div class="drop-down container bg-grey">
  <% if recipes %>
    <% recipes.each do |r| %>
    <div class="col-sm-12 btn-lg" >
      <li style="list-style-type:none" class="search_output"><%= link_to r.name, recipe_path(r) %></li>
      <ul><img src="<%= r.image_url %>", height="100" width="150"></ul>
    </div>
    <% end %>
  <% else %>
    <p>There are no recipes containing the terms(s) search </p>
  <% end %>
</div>
