<div class="col-sm-6">
  <div class="row-fluid">
    <div class="page-header">
      <h1><%= @recipe.name %></h1>
    </div>
  </div>

  <div class="row-fluid">
    <div class="page-header">
      <h1><small>Ingredients</small></h1>
    </div>
    <% @recipe.ingredients.each do |i| %>
      <li><%= i.item %></li>
    <% end %>
  </div>

  <div class="row-fluid">
    <div class="page-header">
      <h1><small>Directions</small></h1>
    </div>
    <ol>
    <% @recipe.directions.each do |direction| %>
      <li><%= direction.step %></li>
    <% end %>
    </ol>
  </div>
</div>

<div class="col-sm-4 pre-scrollable">
  <%= render partial: "procedures", locals: {procedure: @procedure} %>
</div>
