<div class="scrollable bg-grey container-fluid">
<% procedures.each do |procedure| %>
<div class="row">
  <div class="col-sm-4">
    <div id="term"><%= procedure.term.upcase %></div>
  </div>
  <div class="col-sm-8">
    <li id="definition"><%= procedure.instructions %></li>
    <br>
  </div>
</div>
<% end %>

</div>

