<% procedures.each do |procedure| %>
  <div class="row">
    <h1><a href="<%= procedure.term %>"><%= procedure.term %></a></h1>
    <li style="list-style-type:none"><%= procedure.instructions %></li>
    <br>
  </div>
<% end %>
