@import url(https://fonts.googleapis.com/css?family=Oxygen|Lobster|Maven+Pro|Questrial|Poppins|Didact+Gothic|Marmelad|Overlock|Lily+Script+One);

body {
    font-family: 'Oxygen', sans-serif;
    line-height: 1.8;
    color: #818181;
}

.side-bar {
  color: #818181;
  padding: 5px;
  padding-bottom: 12px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 10px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.container-fluid {
    padding: 60px 50px;
    border-radius: 10px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.recipe-procedure {
  margin: 5px;
  padding: 5px;
}

#index-recipes {
  padding: 20px;
}

#index-recipes > li, .recipe-link {
  font-size: 18px;
  padding: 5px;
  color: #01BBCC;
}

#index-recipes > ol {
  padding-bottom: 10px;
  margin: auto 90px;
  font-size: 18px;
  color: #01BBCC;
}

#index-recipes > h2 {
  margin: auto 80px;
  font-size: 20px;
  padding: 5px;
  color: #818181;
}

#term, #term > a {
  color: #818181;
  margin: auto 60px;
  color: #01BBCC;
  font-size: 18px;
  text-align: right;
  padding: 5px;
}

#definition {
  margin: auto 60px;
  list-style: none;
  font-size: 16px;
  text-align: left;
}

.hovered-term {
  padding: 10px;
  width: 80%;
  box-shadow: 0px 0px 10px #01BBCC;
  border-radius: 25px;
  margin: 7px;
}


.logo {
  color: #01BBCC;
  font-size: 50px;
  margin: 10px;
  font-family: 'Lily Script One', sans-serif;
  letter-spacing: 1px;
}

.navbar {
    margin-bottom: 0;
    background-color: #01BBCC;
    border: 0;
    font-size: 12px;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #01BBCC;
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}

.instructions {
  display: none;
  padding: 10px;
}

.catch-phrase {
  color: rgba(1, 187, 204, .5);
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: 'Lily Script One', sans-serif;
}

.icon-chef {
  font-size: 50px;
}

.main-searchbar {
  padding: 30px;
}

.form-inline {
  height: 50px;
}

#search.form-control {
  height: 50px;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1.5px;
}

.glyphicon-search {
  background-color: #01BBCC;
  color: white;
}

.panel-default > a {
  font-family: 'Oxygen', sans-serif;
  color: white;
  font-size: 20px;
  border: 1px solid rgba(1, 187, 204, .4);
  background-color: rgba(1, 187, 204, .4);
  border-radius: 10px;
  padding: 7px;
}

mark {
  font-family: 'Oxygen', sans-serif;
  color: white;
  font-size: 16px;
  border: 1px solid rgba(1, 187, 204, .4);
  background-color: rgba(1, 187, 204, .4);
  border-radius: 8px;
  padding: 5px;
}

#highlighted {
  font-family: 'Oxygen', sans-serif;
  color: #818181;
  font-size: 20px;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
}

.panel {
  max-width: 500px;
  margin: 0 auto;
}

.panel-heading {
  margin: 5px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1.5px;
  font-size: 23px;
  text-transform: uppercase;
  color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(1, 187, 204, .4);
}

.panel-body {
  text-transform: lowercase;
  font-size: 18px;
  position: relative;
  text-align: left;
  color: #00757F;
}

#myNavbar > ul > li > a {
  color: white;
}

#myNavbar > ul > li > a:hover {
  color: #818181;
}

#directions {
  max-width: 500px;
}

.scrollable {
  max-height: 750px;
  overflow-y: scroll;
  float: right;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.terms-box {
  height: 650px;
}

iframe {
  height: 100%;
  width: 100%;
}

.dropdown-menu {
  position: inherit;
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
  font-family: 'Oxygen', sans-serif;
}

.dropdown-menu > li > a {
  letter-spacing: 3px;
  color: #818181;
  font-size: 13px;
}

.dropdown-menu > li > a:hover {
  letter-spacing: 3px;
  background-color: transparent;
}

.meat-conversions {
  display: none;
  margin: 3em auto;
  background-color: rgba(1, 187, 204, .4);
}

table > thead > tr > th {
  width: 190px;
  text-align: left;
  font-weight: bolder;
}

table > tbody > tr > th {
  font-weight: bolder;
}

table > tbody > tr > td {
  text-align: center;
}

table > tbody > tr {
  height: 45px;
}

table {
  background-color: #efefef;
  width: 500px;
  height: 200px;
  border-radius: 20px;
}

.fluid-converter {
  display: none;
  position: inherit;
}

.fluids, .weights {
  margin: 60px auto;
  padding: 100px;
}

#convert {
  border-radius: 10px;
  background-color: #01BBCC;
  color: white;
}

label {
  font-size: 16px;
}

input#gfc-quantity, input#gfc-result, input#gfc-ounces, input#gfc-grams {
  border-radius: 10px;
  margin: 10px;
}

.weight-converter {
  display: none;
  position: inherit;
}

.page-header {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Oxygen', sans-serif;
}

.table-title {
  color: #01BBCC;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Lily Script One', sans-serif;
}

#recipe-id {
  display: none;
}

/*
body::after, body::before {

}
*/
