@import url(https://fonts.googleapis.com/css?family=Oxygen|Lobster|Maven+Pro|Questrial|Poppins|Didact+Gothic|Marmelad|Overlock|Lily+Script+One);

body {
    font-family: 'Oxygen', sans-serif;
    line-height: 1.8;
    color: #818181;
}

.side-bar {
  color: #818181;
  padding: 5px;
  padding-bottom: 12px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 10px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
.jumbotron {
    background-color: #01BBCC;
    color: #fff;
    padding: 100px 25px;
    font-family: 'Oxygen', sans-serif;
}
.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.recipe-procedure {
  margin: 5px;
  padding: 5px;
}

.hovered-term {
  padding: 10px;
  width: 80%;
  box-shadow: 0px 0px 10px #01BBCC;
  border-radius: 25px;
  margin: 7px;
}


.logo {
  color: #01BBCC;
  font-size: 50px;
  margin: 10px;
  font-family: 'Lily Script One', sans-serif;
  letter-spacing: 1px;
}

.navbar {
    margin-bottom: 0;
    background-color: #01BBCC;
    border: 0;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #01BBCC;
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}

.instructions {
  display: none;
  padding: 10px;
}

.main-searchbar {
  padding: 30px;
}

.form-inline {
  height: 50px;
}

#search.form-control {
  height: 50px;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1.5px;
}

.glyphicon-search {
  background-color: #01BBCC;
  color: white;
}

.panel-default > a {
  font-family: 'Oxygen', sans-serif;
  color: white;
  font-size: 20px;
  border: 1px solid rgba(1, 187, 204, .4);
  background-color: rgba(1, 187, 204, .4);
  border-radius: 10px;
  padding: 7px;
}

mark {
  font-family: 'Oxygen', sans-serif;
  color: white;
  font-size: 16px;
  border: 1px solid rgba(1, 187, 204, .4);
  background-color: rgba(1, 187, 204, .4);
  border-radius: 8px;
  padding: 5px;
}

.panel {
  max-width: 500px;
  margin: 0 auto;
}

.panel-heading {
  margin: 5px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1.5px;
  font-size: 23px;
  text-transform: uppercase;
  color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(1, 187, 204, .4);
}

.panel-body {
  text-transform: lowercase;
  font-size: 18px;
  position: relative;
  text-align: left;
  color: #00757F;
}

.scrollable {
  max-height: 750px;
  overflow-y: scroll;
  float: right;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.terms-box {
  height: 650px;
}

iframe {
  height: 100%;
  width: 100%;
}

.meat-conversions {
  /*display: none;*/
  margin: 0 auto;
  max-width: 600px;
}

.converter {
  display: none;
  position: fixed;
  top: 30%;
  right: 32.5%;
}
/*
body::after, body::before {

}
*/
